

<div id="gradient" />

<div id="runningman">
  <%= image_tag ("flash3guys.png"), id: "runningman1" %>
</div>



<div id="landinglogin">
  <%= link_to 'Own a Business? Login/Register here', new_sessions_path %>
</div>





<div id="diamond">
  <a id="diamondlink" href=""><span class="button dimond">Look for Flash Deals</span></a>
</div>
