<div id="gradient" />
<%= link_to 'Back', coupons_path, class:"btn btn-primary" %>
    <div class="container">

    <center>
      <div class="follow-text">
        <h3>Follow for up to date Flash Deals</h3>
    </center>
      </div>
      <%= render 'form' %>
    </div>
</div>
