<div id="gradient" />

    <div class="container">

    <center>
      <div class="follow-text">
        <h3>Follow for up to date Flash Deals</h3>
    </center>
      </div>
      <div class="coupon-follow-field">  
        <%= render 'form' %>
        <div class="follow-back-button">
          <center>
          <%= link_to 'Back', coupons_path, class:"btn btn-primary" %>
          </center>
        </div>
      </div>
    </div>
</div>
