<nav class="navbar navbar-inverse">

</nav>
<div class="restaurantonl3">

  <h1>Editing Restaurant</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @restaurant %> |
  <%= link_to 'Back', restaurant_path	 %>
</div>
