<div class="bakery">
<nav class="navbar navbar-inverse">

  <a href="<%= root_path %>"><%= image_tag ("flashdealguy1.png"), class: "imgheader5" %></a>

</nav>


  <h1>Restaurant Sign Up</h1>
  <%= render 'form' %>

</div>
