// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.
// You can use CoffeeScript in this file: http://coffeescript.org/

function ready() {
  $('.logolink').on('click', function(e) {
    if (navigator.geolocation) {
      console.log('here');
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      alert("Geolocation is not supported by this browser.")
    }
  });

  function showPosition(position) {
    var la = position.coords.latitude;
    var lo = position.coords.longitude;

    window.location.assign('/coupons' + '?lat=' + la + '&lon=' + lo);
  }

 for(var i = 1; i < 1000 ; i++) {
  var time = $('.hour_' + i).text() + ":" + $('.min_' + i).text() + ":" + "00"
  var timer = (new Date (new Date().toDateString() + ' ' + time ))
  jQuery('.tim_' + i).countdown(timer , function(event) {
  $(this).html(event.strftime('%H:%M:%S'));

}).on('finish.countdown', function() {
  $(this).replaceWith('<p>Expired!</p>')
});
}



}



$(document).on('ready page:load', ready);
