<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Welcome <%= @restaurant.name %>!</h2>
    <h3>Thank you for registering to Flash Deal!!</h3>


  </body>
</html>
