// Place all the styles related to the coupons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//
.follow-text {
  padding-top: 15%;
}

.phone-text {
  padding-top: 7%;
}

.coupon-show-pic {
  vertical-align: middle;
  height: 250px;
  text-align: center;
}
.white {
  color: white;
}
.restaurant-logo img {
  height: 250px;
}
.center {
  text-align: center;
}
.btn-primary{
  text-align: center;
}
.restaurant-name {
width: 100%;
text-align: center;
}

.coupon-on-index {
  width: 100%;
}

.text-center {
  padding-bottom: 8%;
}

.claim-bttn {
  padding-top: 5%;
}

.coupon-on-index {
  height: 150px;
  padding-top: 2%;
  margin-top: 1%;
  padding-bottom: 2%;
  width: 100%;
  border: 2px solid black;
  display: inline-flex;
  text-align: center;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 15px 50px;
}
.coupon-picture {
  float: left;
  width: 25%;
  height: 100%;
  padding-top: 25px;
  padding-left: 5px;

}

#coupon li {
list-style-type: none;

}
  #coupon {
    float: left;
    width: 45%;
    height: 100%;
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;

}

.coupon-price {
  float: left;
  height: 100%;
  text-align: right;
  width: 30%;
  padding-top: 40px;
  padding-right: 15px;
  font-size: 2em;
}
.coupon-title {
  padding-bottom: 1%;
  width: 100%;
}

#map {
  width: 100%;
  height: 260px;
  text-align: center;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

#header-coupon {
  text-align: center;
}

div#count  {
  display: none;
}

// #itemPics {
//   width: 70%;
//   height: 35%;
//   padding-bottom: 25px;
// }

// td, th {
//   text-align: center;
// }
//
// ul, li {
//   list-style-type: none;
//
// }
//
// th {
//   color: #EBB46D;
// }
