// Place all the styles related to the coupons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//
.follow-text {
  padding-top: 15%;
}

.phone-text {
  padding-top: 7%;
}

.coupon-show-pic {
  // // vertical-align: middle;
  // height: 100%;
  // width: 100%;
}
.follow-btn {
  padding-top: 8%;
}

.coupon-on-index {
  width: 100%;
}

.text-center {
  padding-bottom: 8%;
}

.claim-bttn {
  padding-top: 5%;
}

.coupon-on-index {
  padding-top: 6%;
  // padding-right: 25px;
}

.coupon-title {
  padding-top: 5%;
}

#map {
  width: 100%;
  height: 300px;
  text-align: center;
}




#header-coupon {
  text-align: center;
}

div#count  {
  display: none;
}

// #itemPics {
//   width: 70%;
//   height: 35%;
//   padding-bottom: 25px;
// }

// td, th {
//   text-align: center;
// }
//
// ul, li {
//   list-style-type: none;
//
// }
//
// th {
//   color: #EBB46D;
// }
