// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.phone-text {
  width: 62%;

}

.follow-back-button {
  margin: -2%;
}

.follow-btn {
  padding-top: 3%;
}

.coupon-follow-field {
  padding-top: 15%;
}
