// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//below is for the Restaurant view of coupon only page
.restaurantonly {
  background-image: url("restaurant.jpeg");

  background-repeat: repeat;


  height: 100%;


  color: white;

}

.restaurantonly1 {
  background-image: url("restaurant.jpeg");

  background-repeat: repeat;


  height: 210vh;


  color: white;

}
